<div class="organigrama_bonin">
    <div>
        <h1>Organigrama General</h1>
    </div>
    
    <div class="org_general">
        <a class="junta_directiva">Junta Directiva</a>

        <div class="jump0">

            <div class="right">
                <a class="box">Asistente de Junta directiva</a>
            </div>
    
            <div class="left">
                <a class="box">Auditor Interno</a>
                <div class="jump1">
                    <a class="box">Asesor Legal</a>
                </div>
            </div>
        </div>

        <div class="jump2">
            <a class="gerente_general">Gerente General</a>
        </div>

        <div class="jump3">
            <div class="right">
                <a class="box">Secretaria de Gerencia General</a>
            </div>
    
            <div class="left">
                <a class="box">Gestor de calidad</a>
            </div>
        </div>

        <div class="jump4">
            <div class="right1">
                <a class="box1">Gerencia Financiera</a>
                <div class="move1">
                    <a class="box1">Ingeniero Planta</a>
                    <div class="move1">
                        <a class="box1">Gerencia de Ventas</a>
                        <div class="move1">
                            <a class="box1">Gerencia de Aseguramiento</a>
                            <div class="move1">
                                <a class="box1">Gerencia de Informática</a>
                                <div class="move1">
                                    <a class="box1" href="/home/Organigrama/produccion">Gerencia de Producción</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jump5">
            <div class="right2">
                <a class="box1" style="font-size: 0.7vw;">Farmacéutica Registros Y Regulaciones Sanitarias</a>
                <div class="move1">
                    <a class="box1">Coordinación de Hospitalaria</a>
                    <div class="move1">
                        <a class="box1">Coordinación de Exportaciones</a>
                        <div class="move1">
                            <a class="box1">Coordinador de RR.HH.</a>
                            <div class="move1">
                                <a class="box1">Coordinación de Mercadeo</a>
                                <div class="move1">
                                    <a class="box1">Coordinación de Maquila</a>
                                    <div class="move1">
                                        <a class="box1">Coordinación de Operaciones</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    
</div>