<section id="services" class="services section-bg bloque3">
    <div class="container">

        <div class="section-title">
            <span>Auditoria Interna</span>
            <h2>Auditoria Interna</h2>
            <p>Para Laboratorios Bonin, S.A. es importante desempeñar con eficacia y eficiencia, las actividades
                realizadas en cada uno de los procesos que integran el Sistema de Gestión de Calidad, poniendo en
                práctica
                lo estipulado en cada protocolo, normativa interna, normativa externa, especificaciones técnicas entre
                otros; para contribuir con la Mejora Continua dentro de la Organización. Los hallazgos detectados se
                deben
                trasladar a cada Líder de Proceso para la emisión de los Planes de Acción (Mejora Continua) y con ello
                proceder a dar tratamiento a las No Conformidades u Oportunidades de Mejora. Cada Plan de Acción debe
                contar
                con las evidencias, en las cuales, se da tratamiento a las desviaciones encontradas en cada área. En el
                Sistema de Gestión de Calidad, se cuenta con 13 auditores internos debidamente capacitados, para la
                ejecución de actividades de revisión interna; en donde, se procede a verificar:</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Cumplimiento de Requisitos de Normativa ISO 9001:2015.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Fortalecimiento del Sistema de Gestión de Calidad utilizando la Normativa ISO 9004.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Cumplimiento de Buenas Prácticas de Manufactura.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Revisión y cumplimiento de indicadores.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Cumplimiento de Buenas Prácticas de Manufactura.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Fortalecimiento del sistema en cada actividad ejecutada en los procesos.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Ejecución constante y correcta de tecnología utilizada.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Ejecución y funcionamiento de equipo de planta de fabricación.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Auditoría:</h4>
                    <p>Proceso sistemático, independiente y documentado para obtener evidencias de la auditoría y
                        evaluarlas
                        objetivamente a fin de determinar hasta que punto los criterios de la auditoría se cumplen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Auditoria Combinada:</h4>
                    <p>Auditoria llevada a cabo conjuntamente a un único auditado en dos o más sistemas de gestión.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Auditoria Conjunta:</h4>
                    <p>Auditoria llevada a cabo a un único auditado por dos o más organizaciones auditoras.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Auditado:</h4>
                    <p>Organización o individuo que es sometido a una auditoría. En el contexto de una auditoría, el
                        auditado
                        es aquel cuyos registros, procesos, operaciones o sistemas están siendo revisados y evaluados
                        por el
                        auditor.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Auditor:</h4>
                    <p>Un auditor es un profesional que lleva a cabo auditorías en diferentes contextos, como
                        contabilidad,
                        sistemas de gestión, procesos internos de una organización, entre otros.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Alcance de la Aunditoria:</h4>
                    <p>se refiere a la extensión y los límites de la auditoría que se llevará a cabo. Especifica qué
                        aspectos,
                        áreas o procesos serán examinados y evaluados durante el proceso de auditoría, así como las
                        actividades
                        que estarán fuera del alcance de la auditoría.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Competencia:</h4>
                    <p>Capacidad para aplicar conocimientos y habilidades con el fin de lograr resultados previstos.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Conclusiones de la Auditoria:</h4>
                    <p>Resultados de una auditoria, tras considerar los objetivos de la auditoria y todos los hallazgos
                        de la
                        auditoria.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Conformidad:</h4>
                    <p>Se refiere al estado de cumplimiento o concordancia con requisitos, estándares, normativas,
                        políticas o
                        procedimientos establecidos.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Criterios de la Auditoría:</h4>
                    <p>Conjunto de requisitos usados como referencia frente a la cual se compara la evidencia objetiva.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Cliente de la Auditoria:</h4>
                    <p>Se refiere a la entidad, organización o individuo que solicita o encarga la realización de una
                        auditoría.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Desempeño:</h4>
                    <p>Se refiere al rendimiento, la ejecución o el comportamiento de una persona, equipo, organización
                        o
                        sistema en relación con ciertos objetivos, estándares o expectativas establecidas.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Eficacia:</h4>
                    <p>Grado en el que se realizan las actividades planificadas y se logran los resultados planificados.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Equipo Auditor:</h4>
                    <p>Una o más personas que llevan a cabo una auditoria con el apoyo, si es necesario de expertos
                        técnicos.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Evidencia Objetiva:</h4>
                    <p>se refiere a datos, registros, hechos o información verificable que respalda o sustenta una
                        afirmación,
                        una conclusión o una evaluación realizada durante un proceso de auditoría, revisión o
                        evaluación.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Evidencia de la Auditoría:</h4>
                    <p>Registros, declaraciones de hechos o cualquier otra información que son pertinentes para los
                        criterios
                        de auditoría y que son verificables.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Experto Técnico:</h4>
                    <p>Persona que aporta conocimientos o experiencia específicos al equipo auditor.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Guía o contraparte:</h4>
                    <p>Persona que acompaña a un miembro del equipo auditor para guiarle a través de las instalaciones
                        de la
                        organización y apoyarle en todo aquello que sea necesario para el éxito de la auditoria.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Hallazgos de la auditoria:</h4>
                    <p>Resultados de la evaluación de la evidencia de la auditoria recopilada frente a los criterios de
                        auditoria.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>In situ:</h4>
                    <p>En el lugar o sitio. Se refiere al lugar físico en donde se llevan a cabo los procesos o
                        actividades
                        dentro del alcance de la auditoría.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>No conformidad:</h4>
                    <p>Se refiere a cualquier situación, práctica, proceso, producto o servicio que no cumple con los
                        requisitos especificados por normas, estándares, regulaciones, políticas internas u otros
                        criterios
                        establecidos.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Observador:</h4>
                    <p>Persona que acompaña al equipo auditor, pero no actúa como un auditor.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Plan de auditoria:</h4>
                    <p>Descripción de las actividades y de los detalles acordados de una auditoría.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Proceso:</h4>
                    <p>Conjunto de actividades mutuamente relacionada que utilizan las entradas para proporcionar un
                        resultado
                        previsto.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Programa de la auditoría:</h4>
                    <p>Acuerdos para un conjunto de una o más auditorías planificadas para un período de tiempo
                        determinado y
                        dirigidas hacia un propósito específico.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Requisito:</h4>
                    <p>Necesidad o expectativa establecida, generalmente implícita u obligatoria.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Riesgo:</h4>
                    <p>Se refiere a la posibilidad de que ocurra un evento o situación que pueda afectar negativamente
                        los
                        objetivos, metas o intereses de una organización, proyecto, proceso o individuo.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4>Sistema de Gestión:</h4>
                    <p>Conjunto de una organización interrelacionados o que interactúan para establecer políticas,
                        objetivos y
                        procesos para lograr estos objetivos.</p>
                </div>
            </div>
        </div>

    </div>
</section>