<div class="panel1 bloque2">
  <div class="left">
    <h1>MISIÓN</h1>
    <p>Somo una empresa Farmacéutica Guatemalteca que vela por la salud de las personas
    ofreciendo productos y servicios de óptima calidad, trabajando con excelencia
    y esponsabilidad bajo los principios de lealtad y respeto.
    </p>
    <h1>VISIÓN</h1>
    <p>Hacer de Laboratorios Bonin la empresa líder y modelo de calidad cumpliendo con las
    buens prácticas de manufactura y servicios excelentes con participación en varios 
    segmentos del mercado nacional e internacional a través del desarrollo de sus diversas
    unidades de negocio que operen con eficiencia y rentabilidad. 
    </p>
  </div>
  <div class="right">
    <div class="container-slider">
      <div class="slider" id="slider">
        <div class="slider__section">
          <img src="{{url_for('static', filename='img/img1.jpg')}}" alt="" class="slider__img">
        </div>
        <div class="slider__section">
          <img src="{{url_for('static', filename='img/img2.jpg')}}" alt="" class="slider__img">
        </div>
        <div class="slider__section">
          <img src="{{url_for('static', filename='img/img3.jpg')}}" alt="" class="slider__img">
        </div>
        <div class="slider__section">
          <img src="{{url_for('static', filename='img/img4.jpg')}}" alt="" class="slider__img">
        </div>
      </div>
      <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
      <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    </div>
  </div>
</div>



