<section id="hero" class="d-flex align-items-center bloque1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>IMPLEMENTACIÓN DEL SISTEMA DE
                    GESTIÓN DE CALIDAD</h1>
                <p style="text-align: justify;">Con el fin de mejorar la satisfacción de los clientes internos, externos y atraer nuevos prospectos,
                    se
                    comienza a analizar la importancia del Sistema de Gestión de Calidad de Laboratorios Bonin, S.A. y
                    con ello
                    crear una ventaja competitiva en nuestros productos a nivel nacional e internacional En los años
                    2005 - 2006
                    Laboratorios Bonin inicia preparación para la implementación del Sistema de Gestión de Calidad y
                    obtener el
                    certificado en base a la Norma ISO 9001:2000, efectuando diversas actividades tales como emisión de
                    procedimientos, formatos, capacitaciones para todo el personal y selección de los primeros auditores
                    del
                    sistema. A finales del año 2006 se logra la certificación solo en el área de Ampollas y Viales. En
                    el año
                    2008 se extiende la certificación a todos los procesos de Laboratorios Bonin, S.A. con la nueva
                    versión ISO
                    9001:2008. En enero 2018 se realizó la última auditoria de Seguimiento y transición a la Normativa
                    ISO
                    9001:2015, la cual fue aprobada sin ningún inconveniente. Enero 2022 se efectúa Auditoria de
                    Renovación bajo
                    la normativa ISO 9001:2015, en donde los resultados fueron satisfactorios. Las auditorias de
                    seguimiento son
                    1 vez al año y las auditorias de renovación son cada 3 años.</p>
                <div class="d-flex">
                    <a href="../../../static/doc/pdf/web/Bonin_ISO/0_Normativa_ISO/NORMATIVA ISO 9001 2015.pdf" class="btn-get-started scrollto mx-3" download>Normativa Iso 9001:2015</a>
                    <a href="href=../../../static/doc/xlsx/directorio.xls" class="btn-get-started scrollto mx-3" download>Descargar Directorio</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="../../../static/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>