<div class="noticiasyeventos" id="nE">
    <h1>Noticias y Eventos</h1>
    <div class="button-container5">
        <button onclick="openModalWithPDF('static/doc/pdf/cumplebn.pdf')">Cuempleaños Colaboradores</button>
    </div>
    <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <iframe id="pdfViewer" src="" frameborder="0" width="100%" height="750px"></iframe>
    </div>
  </div>
    <div class="eventos">
        <div class="div1">
            <h1>Planta Villa Nueva</h1>
        </div>
        <div class="image-box">
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
        </div>
    </div>
    <div class="eventos">
        <div class="div1">
            <h1>Edificio Administrativo</h1>
        </div>
        <div class="image-box">
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
            <div class="image-card">
                <img src="{{url_for('static', filename='img/noticiasyeventos/edPro1.png')}}" alt="" class="slider__img">>
            </div>
        </div>
    </div>
</div>
