<div class="seg_pag1" id="nD">
    <h1>Nuestro Desempeño</h1>
    <div class="titulo">
        <div class="button-container">
            <button class="left1">Safisfacción del cliente</button>
            <button class="right1">Resultados de Auditoria</button>
        </div>
        <div class="des-container des-containerr">
            <div class="navegacion1 ocultar1">
                <h1>Desempeño del Sistema de Gestión</h1>
                <table>
                    <tr>
                        <td>* Satisfacción Cliente 2021</td>
                        <td>* Satisfacción Cliente 2016</td>
                    </tr>
                    <tr>
                        <td>* Satisfacción Cliente 2020</td>
                        <td>* Satisfacción Cliente 2015</td>
                    </tr>
                    <tr>
                        <td>* Satisfacción Cliente 2019</td>
                        <td>* Satisfacción Cliente 2014</td>
                    </tr>
                    <tr>
                        <td>* Satisfacción Cliente 2018</td>
                        <td>* Satisfacción Cliente 2013</td>
                    </tr>
                    <tr>                
                        <td>* Satisfacción Cliente 2017</td>
                        <td>* Satisfacción Cliente 2012</td>
                    </tr>
                </table>
                <h1>BENEFICIOS DE LOGRA LA SATISFACCIÓN DEL CLIENTE</h1>
                <h2>Primer Beneficio:</h2>
                <p>El cliente satisfecho, por lo general, vulve a comprar. Por tanto, la empresa
                obtine como beneficio su lealtad y por ende, la posibilidad de vender el 
                mismo u otros productos adicionales en el futuro.
                </p>
                <h2>Segundo Beneficio:</h2>
                <p>El cliente satisfecho comunica a otros sus experiencias positivas con el producto
                o servicio. Por tanto, la empresa obtinene como beneficio una difusión gratuita 
                que el cliente satisfecho realiza a sus familiares, amistades y conocidos. 
                </p>
                <h2>Tercer Beneficio</h2>
                <p>El cliente satisfecho deja de lado a la competencia. Por tanto, la empresa
                obtinenecomo beneficio un determinado lugar (participación) en el mercado</p>
            </div>
            <div class="navegacion2 ocultar2">
                <h1>Desempeño del Sistema de Gestión</h1>
                <h2>Desempeño 2016</h2>
                <p>AI-2016-01</p>
            </div>
        </div>
        <div class="img-container">
            <img class="imgiso" src="{{url_for('static', filename='img/nuestroDesempeno/satisfaccionCliente.png')}}" alt="" class="slider__img">
            <img class="imgiso" src="{{url_for('static', filename='img/nuestroDesempeno/resultadoAuditoria.png')}}" alt="" class="slider__img">
        </div>
    </div> 
</div>